
   body {
	max-height: 500px;
	background-color: rgb(241, 141, 9);
	text-align: center;
	max-width: 50%;
	margin-left: 20%;
}


h1 {
	text-align: center;
	margin-top: 100px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 4em;
	color: white;
	font-weight: 400;
	margin-left: 25%;
}


p {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 1.5em;
	line-height: 35px;
	display: block;
	font-weight: bold;
	text-indent: 0;
	margin: 7% auto 100px auto;
    color: #5e6073;
}


h2{
	color: #239f95;
	font-family: 'Ubuntu', sans-serif;
	margin-left: 20%;
	padding: 2%;
}


.middle-container {
	max-width: 50%;
	margin-left:35%;
}